In [1]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
from dotenv import load_dotenv

In [2]:
# Load .env enviroment variables
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_API_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [39]:
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["TSLA", "FB", "PENN", "AAPL"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2019-01-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-31', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

# Drop unnecessary columns
df = df.drop(
    columns=['open', 'high', 'low', 'volume'],
    level=1
)

In [41]:
df.reset_index()

                        index      AAPL        FB   PENN      TSLA
                                  close     close  close     close
0   2019-01-02 00:00:00-05:00  157.5225  135.4100  19.43  309.8699
1   2019-01-03 00:00:00-05:00  142.2900  131.8902  19.95  300.3100
2   2019-01-04 00:00:00-05:00  148.1200  137.9400  21.19  317.5400
3   2019-01-07 00:00:00-05:00  147.9100  138.2300  22.51  334.9860
4   2019-01-08 00:00:00-05:00  150.6300  142.5843  23.22  335.4900
..                        ...       ...       ...    ...       ...
247 2019-12-24 00:00:00-05:00  284.2762  205.1500  25.54  425.1800
248 2019-12-26 00:00:00-05:00  289.9100  207.7900  25.88  430.8202
249 2019-12-27 00:00:00-05:00  289.8300  208.1000  25.69  430.2300
250 2019-12-30 00:00:00-05:00  291.6470  204.4100  25.51  414.6200
251 2019-12-31 00:00:00-05:00  293.3700  205.0900  25.56  418.1700

[252 rows x 5 columns]